@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: block;
}
@font-face {
  font-family: "Avenir";
  font-weight: 600;
  font-style: normal;
  src: url("/avenir-medium.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("/Avenir-Heavy.woff2") format("woff2");
  font-display: block;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  line-height: 2;
  color: #515151;
  background: transparent;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
div#wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0px;
}